@font-face {
  font-family: Starjedi;
  src: url("/fonts/Starjedi.ttf");
}

body {
  background-image: url("/images/background-image.png");
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  align-items: center;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 90%;
  height: 100vh;
}

.navbar {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-medium);
  padding: var(--spacing-large) var(--spacing-medium);
}

.navbar__header {
  text-align: center;
  font-family: Starjedi;
  letter-spacing: 2px;
  color: var(--color-text-starwars);
}

.navbar__list {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  text-align: center;
  align-self: center;
  justify-content: space-evenly;
  gap: var(--spacing-x-large);
}

.navbar__list-element {
}

.list-element__button {
  padding: var(--spacing-small) var(--spacing-medium);
  font-weight: bold;
  background-color: transparent;
  border-bottom: 2px solid transparent;
  font-family: Starjedi;
  letter-spacing: 2px;
  color: var(--color-text-starwars);
}

.list-element__button:hover {
  border-bottom: 2px solid var(--color-text-starwars);
}

.list-element__button:active {
}

.list-element__button--active {
  border-bottom: 2px solid var(--color-text-starwars);
}

.card-container {
  background-color: rgb(188, 173, 148);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--spacing-large);
  padding: var(--spacing-large);
}

.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding-bottom: var(--spacing-medium);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.card__image-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: var(--spacing-medium);
}

.card__image-square-container {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  padding: var(--spacing-medium);
}

.card__image {
  width: 100%;
  max-width: 256px;
  height: auto;
  aspect-ratio: 9 / 16;
}

.card__image-square {
  width: 100%;
  height: auto;
}

.card__list {
  padding: 0 var(--spacing-medium);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
}

@media screen and (max-width: 775px) {
  .navbar__list {
    gap: var(--spacing-medium);
  }
  .list-element__button {
    padding: var(--spacing-small);
  }
  .card {
    width: 100%;
  }
}

@media screen and (max-width: 470px) {
  .navbar__list-element {
    flex-basis: 40%;
  }

  .card-container {
    padding: var(--spacing-medium);
  }
  .card {
    width: 100%;
  }
}
