main {
  min-width: 100%;
  min-height: 100vh;
  padding: var(--spacing-large);
}

.navbar {
  display: flex;
  align-items: center;
  padding: var(--spacing-large);
  background-color: var(--color-background-dark);
}

.navbar__header {
  flex-basis: 40%;
  color: var(--color-text-light);
}

.navbar__list {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  gap: var(--spacing-medium);
}

.navbar__list-element {
}

.list-element__button {
  color: var(--color-text-light);
  padding: var(--spacing-small) var(--spacing-medium);
  font-weight: bold;
  background-color: transparent;
  border-bottom: 2px solid transparent;
}

.list-element__button:hover {
  border-bottom: 2px solid var(--color-text-light);
}

.list-element__button:active {
}

.list-element__button--active {
  border-bottom: 2px solid var(--color-text-light);
}

.card-container {
  background-color: rgb(188, 173, 148);
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--spacing-large);
  padding: var(--spacing-large);
}

.card {
  width: 250px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  padding-bottom: var(--spacing-medium);
}

.card__image-container {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  padding: var(--spacing-medium);
}

.card__image-square-container {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  padding: var(--spacing-medium);
}

.card__image {
  width: 100%;
}

.card__list {
  padding: 0 var(--spacing-medium);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
}
